
* { margin: 0; padding: 0; }

html { 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #fff;
	
} 


/* responsive design: users of smaller res screen don't have to zoom in for content */
/* usually over here you would use width: device-width; but if you do, then you run 
   into problems when you switch to landscape mode (ios), so we use width: extend-to-zoom; */
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
/* special statement for IE users */
@-ms-viewport{
    zoom: 1.0;
	width: extend-to-zoom;
}


/* 100% of viewport height */
.maintable{
	height:100vh;
	padding:3%;
	width:100vw;
	position:relative;
	
}

.toprow{
	height:30vh;
	
}

.bottomrow{
	height:30vh;

}

.middlerow{
	font-family: Helvetica, Arial, sans-serif; 
	font-size:8em;
	letter-spacing: 0.1em;
	text-align:center;
}


.yi_tag{
	float: left;
	position: absolute;
	background-color: gray;
	font-size: 1em;
	color: #FFF;
	padding: 5px;
	z-index: 10;
	opacity: 0;
	-moz-transform: translate(19px, 0px);
	-webkit-transform: translate(19px, 0px);
	-o-transform: translate(19px, 0px);
	-ms-transform: translate(19px, 0px);
	transform: translate(19px, 0px);
}

.jiu_tag{
	float: left;
	position: absolute;
	background-color: gray;
	font-size: 1em;
	color: #FFF;
	padding: 5px;
	z-index: 10;
	opacity: 0;
	-moz-transform: translate(19px, 0px);
	-webkit-transform: translate(19px, 0px);
	-o-transform: translate(19px, 0px);
	-ms-transform: translate(19px, 0px);
	transform: translate(19px, 0px);
}

.qi_tag{
	float: left;
	position: absolute;
	background-color: gray;
	font-size: 1em;
	color: #FFF;
	padding: 5px;
	z-index: 10;
	opacity: 0;
	-moz-transform: translate(19px, 0px);
	-webkit-transform: translate(19px, 0px);
	-o-transform: translate(19px, 0px);
	-ms-transform: translate(19px, 0px);
	transform: translate(19px, 0px);
}


